In [51]:
import pandas as pd
import yfinance as yf
import numpy as np
import re

In [2]:
ratios_verify = {'Current Ratio','Debt Ratio','Financial Leverage'}

In [72]:
msft = yf.Ticker("AAPL")

In [74]:
# Copy financial information 
result_sheet = msft.financials.copy()
#balance_sheet = msft.balance_sheet.copy()
#cash_flow = msft.cashflow.copy()

In [75]:
result_sheet

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,21914000000.0,18752000000.0,16217000000.0,14236000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,109207000000.0,67091000000.0,65737000000.0,72903000000.0
Minority Interest,None,None,None,None
Net Income,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Selling General Administrative,21973000000.0,19916000000.0,18245000000.0,16705000000.0
Gross Profit,152836000000.0,104956000000.0,98392000000.0,101839000000.0
Ebit,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Operating Income,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2645000000.0,-2873000000.0,-3576000000.0,-3240000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,14527000000.0,9680000000.0,10481000000.0,13372000000.0
Total Revenue,365817000000.0,274515000000.0,260174000000.0,265595000000.0
Total Operating Expenses,256868000000.0,208227000000.0,196244000000.0,194697000000.0
Cost Of Revenue,212981000000.0,169559000000.0,161782000000.0,163756000000.0
Total Other Income Expense Net,258000000.0,803000000.0,1807000000.0,2005000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Net Income Applicable To Common Shares,94680000000.0,57411000000.0,55256000000.0,59531000000.0

In [44]:
cash_flow.size

80

In [45]:
balance_sheet.size

104

In [30]:
balance_sheet.columns

DatetimeIndex(['2022-06-30', '2021-06-30', '2020-06-30', '2019-06-30'], dtype='datetime64[ns]', name='', freq=None)

In [20]:
array = list(balance_sheet.columns)
str(array[0])

'2022-06-30 00:00:00'

In [70]:
dates = sorted(set(map(lambda x: str(x.strftime("%Y")), array)),reverse=True)
dates

['2022', '2021', '2020', '2019']

In [71]:
result_sheet.columns=dates
result_sheet

,2022,2021,2020,2019
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Selling General Administrative,27725000000.0,25224000000.0,24709000000.0,23098000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Ebit,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2047000000.0,-2330000000.0,-2591000000.0,-2686000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Total Operating Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Total Other Income Expense Net,333000000.0,1186000000.0,77000000.0,729000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Applicable To Common Shares,72738000000.0,61271000000.0,44281000000.0,39240000000.0

In [67]:
result_sheet

NameError: name 'cash_flow_sheet' is not defined

In [9]:
result_sheet.head()

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0

In [9]:
# Ratios that you could you obtain dividing to inputs
simple_ratios = {
    'Current Ratio':('Total Current Assets','Total Current Liabilities'),
    'Debt Ratio': ('Total Liab','Total Assets'),
    'Financial Leverage': ('Total Liab','Total Stockholder Equity'),
    #'Return of Equity - ROE': ('Net Income','Total Stockholder Equity'),
    #'Net Profit Margin': ('Net Income','Total Revenue'),
    #'Operating Margin' : ('Ebita','Total Revenue'),
}

In [6]:
simple_ratios['Current Ratio'][0]

'Total Current Assets'

In [59]:
string ="2022-06-30"
re.match(r"[0-9]{4}",string).group()

'2022'

In [ ]:
balance_sheet[re]["Intangible Assets"]

In [49]:
balance_sheet["2022-06-30"]["Intangible Assets"]

11298000000.0

In [60]:
balance_sheet.columns

DatetimeIndex(['2022-06-30', '2021-06-30', '2020-06-30', '2019-06-30'], dtype='datetime64[ns]', name='', freq=None)

In [12]:
current_ratio = []
dic_result = {}

ratios_balance = {'Current Ratio','Debt Ratio','Financial Leverage'}
ratios_both = {'Return of Equity - ROE'}
ratios_result = {'Net Profit Margin','Operating Margin'}


for ratio in ratios_verify:
    ratios = []
    

    for column in range(0,4):
        result_ratio = np.divide(balance_sheet.iloc[:,column].at[simple_ratios[ratio][0]], balance_sheet.iloc[:,column].at[simple_ratios[ratio][1]])
        ratios.append(result_ratio)

        dic_result[ratio] = ratios
            
    
    

#current_ratio

In [13]:
df = pd.DataFrame(dic_result)
df

   Debt Ratio  Current Ratio  Financial Leverage
0    0.543520       1.784607            1.190679
1    0.574605       2.079994            1.350755
2    0.607369       2.515765            1.546921
3    0.642897       2.528839            1.800313

In [14]:

current_ratio

[]

In [43]:
np.divide(balance_sheet.iloc[:,0].at['Total Current Assets'], balance_sheet.iloc[:,0].at['Total Current Liabilities'])

1.7846069708251824

In [52]:
a = ("ratio",[1,2,3,4,5,6,7,8,9])

diccionario = dict([a])

In [53]:
diccionario

{'ratio': [1, 2, 3, 4, 5, 6, 7, 8, 9]}